* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'clash';
    src: url(font/ClashDisplay-Variable.ttf);
}

body {
    color: #fff;
    background-color: #FFCC2B;
    font-family: 'clash';
}

section {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero img {
    position: absolute;
}

.hero .b-1 {
    z-index: 1;
    top: -9.5rem;
    left: -9.5rem;
    height: 20rem;
    rotate: -90deg;
    animation: r1 40s linear infinite;
}

.hero .b-2 {
    z-index: 1;
    top: -9.5rem;
    right: -9.5rem;
    height: 20rem;
    animation: r2 40s linear infinite;
}

.hero .bg {
    top: 85%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, 0%);
    animation: r3 40s linear infinite;
}

.hero .maha {
    height: 95%;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.hero .logo {
    width: 13%;
    z-index: 1;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.hero .t1 {
    position: absolute;
    top: 62%;
    left: 2.7rem;
    width: 30%;
    z-index: 3;
}

.hero .t2 {
    position: absolute;
    top: 30%;
    right: 2.7rem;
    width: 30%;
    z-index: 3;
    text-align: right;
}

@keyframes r1 {
    0% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes r2 {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(-270deg);
    }
}

@keyframes r3 {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/*Marquee */

.marquee__part {
    display: flex;
    gap: 2rem;
    flex-shrink: 0;
    padding: 0 4px;
    align-items: center;
}

.marquee {
    background: #fff;
    color: #FFCC2B;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    padding: 1rem 0;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
}

.marquee__part .line {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #FFCC2B;
    -webkit-text-stroke-width: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 900;
}

.marquee__inner {
    width: fit-content;
    display: flex;
    flex: auto;
    flex-direction: row;
}

/*About*/

.about {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about .d1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 20rem;
    z-index: -1;
}

.about .m {
    font-size: 8rem;
}

.about div {
    display: flex;
    justify-content: flex-end;
    padding-right: 8rem;
}

.about .k {
    position: relative;
    font-size: 10rem;
}

.about .k img {
    position: absolute;
    top: -6rem;
    right: -8rem;
    z-index: -1;
}

.about .b {
    font-size: 5rem;
    font-weight: 900;
}

.about .n {
    position: relative;
    /* bottom: -4rem; */
    font-size: 6rem;
    font-weight: 900;
}

.about .n img {
    position: absolute;
    height: 15rem;
    top: -5rem;
    right: 4rem;
    z-index: -1;
}

.details {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.details .content .v2 {
    float: left;
    margin: 1rem;
    margin-left: 0;
}

.details .content p {
    letter-spacing: 2px;
    font-size: 1.1rem;
    text-align: justify;
}

.lord {
    text-align: center;
}

.lord b {
    font-size: 2.1rem;
}

footer{
    text-align: center;
    padding: 1rem;
    color: #000;
    font-weight: 600;
}

footer a{
    text-decoration: none;
    font-weight: 800;
}