@media (width < 820px) {
    .hero .b-1 {
        top: -7rem;
        left: -7rem;
        height: 15rem;
    }

    .hero .b-2 {
        top: -7rem;
        right: -7rem;
        height: 15rem;
    }

    .hero .bg {
        top: 85%;
        left: 50%;
    }

    .hero .maha {
        height: 60%;
    }

    .hero .t1 {
        font-size: .6rem;
        left: .7rem;
        top: 55%;
        width: 25%;
    }

    .hero .t2 {
        font-size: .6rem;
        top: 33%;
        right: .7rem;
    }
}

@media (width<968px) {
    .hero .maha {
        height: 70%;
    }

    .hero .t1 {
        left: 1.5rem;
        top: 55%;
        width: 25%;
    }

    .hero .t2 {
        top: 35%;
        right: 1.5rem;
    }
}


@media (width<420px) {
    .hero .maha {
        height: 70%;
    }

    .hero .t1 {
        left: .8rem;
    }

    .hero .t2 {
        right: .8rem;
    }
}

@media (width<320px) {
    .hero .maha {
        height: 60%;
    }

    .hero .t1 {
        left: .6rem;
        font-size: .5rem;
    }

    .hero .t2 {
        right: .6rem;
        font-size: .5rem;
        top: 33%;
    }

    .hero .b-1 {
        top: -6rem;
        left: -6rem;
        height: 12rem;
    }

    .hero .b-2 {
        top: -6rem;
        right: -6rem;
        height: 12rem;
    }
}

/*Marqee*/

@media (width<=820px) {
    .marquee {
        font-size: 3rem;
    }

    .marquee img {
        height: 4rem;
    }
}

/*About*/

@media (width<=820px) {

    .about {
        padding: .5rem;
        gap: 1rem;
        height: fit-content;
    }

    .about .d1 {
        height: 10rem;
    }

    .about .m {
        font-size: 3.5rem;
    }

    .about div {
        padding-right: 2rem;
    }

    .about .k {
        font-size: 4rem;
    }

    .about .k img {
        position: absolute;
        top: -2rem;
        right: -2rem;
        height: 4rem;
    }

    .about .b {
        font-size: 1.8rem;
    }

    .about .n {
        font-size: 2.5rem;
    }

    .about .n img {
        height: 8rem;
        top: -1rem;
        right: 1rem;
    }
}


@media(width<=820px) {

    .detail {
        height: fit-content;
        padding: .5rem;
    }

    .details {
        flex-direction: column;
        padding: 0rem;
    }

    .lord .v1 {
        width: 100%;
    }

    .details .content .v2 {
        height: 13rem;
        width: 100%;
    }

    .details .content p {
        font-size: .8rem;
        letter-spacing: 1px;
    }

    .lord b {
        font-size: 1.5rem;
    }
}